:root{
    --color: #f7b600;;
	--color2: white;
    --EditAndLink: #0362fc;;
}

*{
    margin: none;
    padding:none ;
}

@media (min-width: 768px) { 
    body{
        background-color: var(--color);
    }

    #cadastro-form{
        width: 700px!important;
        height: auto!important;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color2); 
        
    }
}

body{
    
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    display: flex;
}

#cadastro-form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

#cadastro-form img{
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#cadastro-form label{
    color: var(--color);
    margin-bottom: 20px;
}

#cadastro-form input{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #f7b600 1px solid;
    margin-bottom: 30px;
    width: 100%;
}


#senhas{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

#senhas div{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

#senhas input{
    width: 100%;
}

#divPassword2{
    padding-left: 60px;
}

#criarConta{
    border: none;
    outline: none;
    background-color: var(--color);
    color: var(--color2);
    border-radius: 4px;
    font-size: large;
    padding: 10px 15px 10px 15px;
    margin:30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#login-button:hover, #login-button:focus{
    background-color: var(--color2);
    color: var(--color)!important;
    border: solid 1px var(--color);
    cursor: pointer;
}

#cadastro-form hr{
    border-top: none;
    border-bottom: solid 1px var(--color)!important;
    width: 100%;
}